:root{
    --bg:#ffffff;
    --text:#111;
    --accent:#00adb5;
    --card:#f4f4f4;
}

body.dark{
    --bg:#0f172a;
    --text:#e2e8f0;
    --card:#1e293b;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:var(--bg);
    color:var(--text);
    transition:0.3s;
}

header{
    padding:20px 50px;
    position:sticky;
    top:0;
    background:var(--bg);
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}


.nav-links{
    display:flex;
    gap:20px;
    list-style:none;
    align-items:center;
}

.nav-links a{
    text-decoration:none;
    color:var(--text);
}

#themeToggle{
    border:none;
    background:none;
    font-size:18px;
    cursor:pointer;
}

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background: transparent;
}

.hero span{
    color:var(--accent);
}

.btn{
    margin-top:20px;
    padding:10px 20px;
    background:var(--accent);
    color:white;
    text-decoration:none;
    border-radius:5px;
}

.section{
    padding:70px 50px;
    text-align:center;
}

.gray{
    background:var(--card);
}

.skills-grid{
    margin-top:30px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
    gap:20px;
}

.skills-grid div{
    background:var(--accent);
    color:white;
    padding:15px;
    border-radius:5px;
}

.projects{
    margin-top:30px;
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
}

.card{
    background:var(--card);
    padding:25px;
    width:260px;
    border-radius:10px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.reveal{
    opacity:0;
    transform:translateY(60px);
    transition:0.6s ease;
}

.reveal.active{
    opacity:1;
    transform:none;
}

footer{
    padding:20px;
    text-align:center;
}

html {
  scroll-behavior: smooth;
}

#particles-js {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  background: var(--bg); /* This ensures it matches your theme */
}

